.vscode/**
.vscode-test/**
test/**
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*

CHANGELOG.md
.eslintrc.json
extension.js
.git
.gitignore
jsconfig.json
module
node_modules
.npmrc
package.json
pnpm-lock.yaml
README.md
test
vsc-extension-quickstart.md
.vscode
.vscode-test.mjs
webpack.config.js